<?xml version="1.0" encoding="UTF-8"?>
<!--mybatis 첫 mapper 만들때 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="memberMapper">
  
  <insert id="memberInsert" parameterType="MemberVO">
  	
  	insert into member(id,pw,name,email,birth,gender)
  	values(#{id},#{pw},#{name},#{email},#{birth},#{gender})
  	
  </insert>
  
  <select id="memberLogin" resultType="MemberVO" parameterType="MemberVO">
  
  	select id, name, email , to_char(birth,'yyyy-mm-dd') from member where id=#{id} and pw=#{pw}
  
  </select>
  
  <update id="memberUpdate" parameterType="MemberVO">
  	
  	update member set pw=#{pw}, email=#{email}, name=#{name}, birth=#{birth}
  	where id = #{id}
  	
  </update>
  
  <delete id="memberDelete" parameterType="MemberVO">
  
  	delete member where id = #{id}
  
  </delete>
  
  <select id="memberIdCheck" parameterType="MemberVO" resultType="MemberVO">
  	
  	select id from member where id = #{id}
  
  </select>
  
  
  
  
  
  
  </mapper>
  