<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="qnaMapper">
  
  <sql id="ds">
  <choose>
  			<when test="kind == 'kW'">where writer like '%'||#{search}||'%'</when>
  			<when test="kind == 'kC'">where contents like '%'||#{search}||'%'</when>
  			<otherwise>where title like '%'||#{search}||'%'</otherwise>
  </choose>
  </sql>
  
  <sql id="fr">
  	from qna where num = #{num}
  </sql>
  
  
  	
  	<select id="boardList" parameterType="Pager" resultType="QnaVO">
  		
  		select * from (select q.*, ROWNUM R from    (select * from qna
  		<include refid="ds"/>
  		ORDER BY ref DESC, step asc, num desc) Q )
		WHERE r BETWEEN #{startRow} and #{lastRow}
  	
  	</select>
  
  	<select id="boardCount" resultType="Integer" parameterType="Pager">
  		select count(num) from (select Q.*, ROWNUM R from    (select * from qna 
  		<include refid="ds"/>
  		ORDER BY ref DESC, step asc, num desc) Q )
  	</select>
  
    	<insert id="boardInsert"  parameterType="QnaVO" >
    	<selectKey order="BEFORE" keyProperty="num" resultType="Integer">
    		select not_seq.nextval from dual
    	</selectKey>
  		
  		insert into qna values(#{num},#{title},#{writer},#{contents},sysdate,0,not_seq.currval,0,0)
  	
  	</insert>
  	
  	<resultMap type="QnaVO" id="boardFile">
  	
  	<id property="num" column="num"/>
  	<result property="title" column="title"/>
  	<result property="writer" column="writer"/>
  	<result property="contents" column="contents"/>
  	<result property="reg_date" column="reg_date"/>
  	<result property="hit" column="hit"/>
  	<result property="ref" column="ref"/>
  	<result property="step" column="step"/>
  	<result property="depth" column="depth"/>
  	<collection property="files" javaType="java.util.List" ofType="QnaFilesVO">
  		<id property="fnum" column="fnum"/>
  		<result property="fname" column="fname"/>
  		<result property="oname" column="oname"/>
  	</collection>
  	
  	</resultMap>
  	
  	
  	<select id="boardSelect" resultMap="boardFile" parameterType="QnaVO">
  		
  		select q.*,f.fnum,f.fname,f.oname from qna q FULL OUTER JOIN qnafiles f on q.num = f.num
		where q.num = #{num}
  		
  	</select>
  	
  	<update id="boardUpdate" parameterType="QnaVO">
  	
  		update qna set title= #{title}, contents= #{contents}
  		where num = #{num}
  	
  	</update>
  	
  	<delete id="boardDelete" parameterType="QnaVO">
  		
  		delete qna where num= #{num}
  	
  	</delete>
  
  	
  	<update id="boardReplyUpdate" parameterType="BoardVO">
  	
  		update qna set step=step+1
  		where ref = (select ref <include refid="fr"/>) 
  		and step > (select step <include refid="fr"/>)
  	</update>
  	
  	<insert id="boardReply" parameterType="BoardVO">
  	
  		insert into qna values(not_seq.nextval,#{title},#{writer},#{contents},sysdate,0,
  		(select ref <include refid="fr"/>),
  		(select step <include refid="fr"/>)+1 ,
  		(select depth <include refid="fr"/>)+1 )
  		
  	</insert>
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  
  
  </mapper>